<%= turbo_frame_tag dom_id(@app_user, "notice") do %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= render @app_user %>

<div>
  <%= link_to "Edit this app user", edit_app_user_path(@app_user) %> |
  <%= link_to "Back to app users", app_users_path %>

  <%= button_to "Destroy this app user", @app_user, method: :delete %>
  <%= button_to "Send news to user", news_request_path(@app_user), method: :post %>
</div>
